<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>欢迎您</h1>
		<form action="/check">
			输入昵称：<input type="text" id="nickName" name="nickName">
			<input type="submit" value="提交">
		</form>
	</body>
</html>
