<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>首页</h1>
			<a href="/load">上传</a>
			<a href="/showImg">查看相册</a>
			<a href="/mkdir">创建相册</a>
			<a href="/rename">修改相册</a>

	</body>
</html>
